@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #0f131b;
    color: #dfe2ed;
    font-family: 'Inter', sans-serif;
    overscroll-behavior: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0e16;
  }

  ::-webkit-scrollbar-thumb {
    background: #262a32;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
  }
}

@layer utilities {
  .text-glow-primary {
    text-shadow: 0 0 8px rgba(173, 198, 255, 0.4);
  }
  .text-glow-error {
    text-shadow: 0 0 8px rgba(255, 180, 171, 0.5);
  }
  .text-glow-secondary {
    text-shadow: 0 0 8px rgba(149, 212, 176, 0.4);
  }
}
